name: CI

on:
  push:
    branches: [ "main", "develop", "feat/*" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: macos-14
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.2'
    
    - name: Build
      run: |
        xcodebuild -scheme MacAppLocker -destination 'platform=macOS' build
      
    - name: Run Tests
      run: |
        xcodebuild -scheme MacAppLocker -destination 'platform=macOS' test
