name: CI

on:
  push:
    branches: [ "main", "develop", "feat/*" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  build:
    name: Build and Test
    runs-on: macos-14
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Xcode
      uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: '15.2' # Or latest available on macos-14 runner
        
    - name: Build
      run: swift build -v
      
    - name: Run Tests
      run: swift test -v
